
/* START of Slider Styling */

#yearSlider {
    z-index: 1000;
    width: 230px;
    background: transparent;
    border-radius: 30px;
    color: whitesmoke;
    /* position: relative; */
    
 
      }

#slider-div {
    margin-left: 47px;
    bottom: -10px;
    }

#yearSlider:hover {
    box-shadow: 0 0 15px rgb(255, 255, 255);
}




/* Chrome Safari */
input[type=range] {
    -webkit-appearance: none;
    margin: 18px 0;
    width: 100%;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #fff9df;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 20px;
    border-radius: 10px;
    background: #A91101;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #fff9df;
}
/* Mozilla Firefox */
input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #fff9df;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 20px;
    border-radius: 10px;
    background: #A91101;
    cursor: pointer;
}
/* Internet Explorer */
input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #fff9df;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-fill-upper {
    background: #fff9df;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 20px;
    border-radius: 10px;
    background: #A91101;
    cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
    background: #fff9df;
}

input[type=range]:focus::-ms-fill-upper {
    background: #fff9df;
}

/* END of Slider Styling */

/* Begin Desktop styling here */
@media only screen and (min-width: 767px) and (min-height: 767px) {

    #yearSlider {
      
        width: 200px;
    
          }


    #slider-div {
        margin-left: 308px;
        bottom: -10px;
        }
    }