/* Map Roman font from Adobe
font-family: map-roman-normal,
serif;
font-weight: 400;
font-style: normal;

font-family: map-roman-compressed,
serif;
font-weight: 400;
font-style: normal;

font-family: map-roman-condensed,
serif;
font-weight: 400;
font-style: normal;

font-family: map-roman-narrow,
serif;
font-weight: 400;
font-style: normal; 

Trajan Pro 3 Regular
font-family: trajan-pro-3,
serif;
font-weight: 400;
font-style: normal;

Trajan Pro 3 Bold
font-family: trajan-pro-3,
serif;
font-weight: 700;
font-style: normal;

Trajan Pro 3 Light
font-family: trajan-pro-3,
serif;
font-weight: 300;
font-style: normal;

Trajan Pro 3 ExtraLight
font-family: trajan-pro-3,
serif;
font-weight: 200;
font-style: normal;
*/

body {
    font-family: map-roman-normal,
        serif;
    font-weight: 400;
    font-style: normal;
    background-color: #6e6e6e;
}

p {
    margin: auto;
}

.leaflet-container {
    font-family: map-roman-normal,
        serif;
    font-size: 0.9rem;
    line-height: 1.4rem;
    font-weight: 400;
}

.red-bold {
    font-style: bold;
    color: #A91101;
}

.indented {
    text-indent: 20pt;
    text-align: justify;
    /* Need to add @media breaks to allow non-justify for smaller screens! */
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: auto;
}

.hide {
    display: none;
}

.show {
    display: block;
}


/* START of Styling the Leaflet Layer Control  */
.leaflet-top .leaflet-control {
    margin-top: 39px;
}

.leaflet-bottom .leaflet-control {
    margin-bottom: 10px;
}

.leaflet-left .leaflet-control {
    margin-left: 10px;
}

.leaflet-right .leaflet-control {
    margin-right: 47px;
}


.leaflet-control-layers {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
    background: #fff;
    padding: 1px;
    border-radius: 12px;
}


.leaflet-control-layers-toggle {
    background-image: url("/images/maplayers.png");
    background-color: #A91101;
    padding: 5px;
    border-radius: 10px;
}

.leaflet-touch .leaflet-control-layers-toggle {
    background-image: url("/images/maplayers.png");
    background-color: #A91101;
    padding: 5px;
    border-radius: 10px;
}

.leaflet-control-layers-expanded {
    color: #ffe4ce;
    background-color: #A91101;
    font-family: trajan-pro-3,
        serif;
    font-weight: 700;
    font-style: normal;
    border-radius: 10px;
    padding: 5px;
    z-index: 4000;
}


/* END of Styling the Leaflet Layer Control  */




/* START of Styling the Polygons! */
.land {
    fill: none;
    stroke: black;
    stroke-width: 3;
    vector-effect: non-scaling-stroke;
}









/* END of Styling the Polygons! */



blockquote {
    padding-left: 25pt;
    padding-right: 25pt;
    font-size: 1rem;
    background-color: #ffe4ce;
    text-align: justify;
    /* Need to add @media breaks to allow non-justify for smaller screens! */
}

#map {
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
}

.aquila {
    z-index: 1000;
    display: block;
    position: absolute;
    top: 10px;
    left: 5px;
    width: 143px;
}

/* base map layers */
.laurel {
    z-index: 1000;
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 105px;
    pointer-events: none;
}

.flat-laurel-slider {
    z-index: 1000;
    display: block;
    position: absolute;
    left: 30px;
    bottom: 10px;
    width: 300px;
}



/* .laurel-left-legend-button {
    z-index: 1000;
    display: block;
    position: absolute;
    right: 110px;
    top: 130px;
    height: 80px;
}

.laurel-right-legend-button {
    z-index: 1000;
    display: block;
    position: absolute;
    right: 12px;
    top: 130px;
    height: 80px;
} */


.blue-tooltip {
    font-family: "Grand Hotel";
    font-style: italic;
    border-radius: 20px;
    color: #0033a0;
    font-size: 2em;
    background-color: #ffffff3b;
    border: 2px solid #63666a48;
    text-shadow: #ffffff 0rem 0rem 4px;
}

.leaflet-tooltip-left.blue-tooltip::before {
    border-left-color: #63666a;
}

.leaflet-tooltip-right.blue-tooltip::before {
    border-right-color: #63666a;
}

/* I'm calling this class "darkshadow" to avoid conflict with Bootstrap shadow class */
.darkshadow {
    -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .7));
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .7));
    /* Similar syntax to box-shadow */
}

/* START of styling of data from CombinedExtentLayers TopoJSON */



#page-title {
    margin: auto;
    text-align: center;
    z-index: 1;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0%);
}




#yearIndicator {
    
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
    font-family: trajan-pro-3,
        serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
    text-shadow: #000000 0rem 0rem 1px,
        #000000 0rem 0rem 2px,
        #000000 0rem 0rem 3px,
        #000000 0rem 0rem 4px,
        #000000 0rem 0rem 5px,
        #000000 0rem 0rem 6px,
        #000000 0rem 0rem 7px,
        #000000 0rem 0rem 8px;
}


#titleHeader {
    z-index: 1;
    color: #ffffff;
    font-family: trajan-pro-3,
        serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1rem;
    text-shadow: #000000 0rem 0rem 1px,
        #000000 0rem 0rem 2px,
        #000000 0rem 0rem 3px,
        #000000 0rem 0rem 4px,
        #000000 0rem 0rem 5px,
        #000000 0rem 0rem 6px,
        #000000 0rem 0rem 7px,
        #000000 0rem 0rem 8px;
}

#eventOne {
    z-index: 1000;
    color: black;
    font-family: trajan-pro-3,
        serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1rem;
    padding-top: 5px;
    text-shadow: #000000 0rem 0rem 0px;
}

#eventTwo {
    z-index: 1000;
    color: black;
    font-family: trajan-pro-3,
        serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1rem;
    padding-top: 20px;
    text-shadow: #000000 0rem 0rem 0px;
}

/* END of styling of data from CombinedExtentLayers TopoJSON */

/* START of Rulers Panel Styling */

#rulers-panel-button {
    position: absolute;
    top: 243px;
    left: 42px;
    background-image: url('images/ruler_icon_off.png');
    background-color: #A91101;


    /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.548); */
    border-radius: 15px;
    /* Draw it on top of all elements */
    z-index: 1000;
    /* Cursor change on hover -- doesn't work on touch screensn */
    cursor: pointer;
}

#rulers-panel-button:hover {
    box-shadow: 0 0 12px rgb(255, 255, 255),
        0 0 13px rgb(255, 255, 255),
        0 0 14px rgb(255, 255, 255),
        0 0 25px rgb(255, 255, 0);
}

#rulersPanel {
    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
    width: fit-content;
    width: 40vw;
    height: 100vh;
    padding-top: 25px;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 35px;
    align-content: center;
    text-align: center;
    /* Add styles to match Leaflet UI elements */
    background: #fff9dfbc;
    /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4); */
    /* border: 2px solid #A91101; */
    /* border-radius: 15px; */
    z-index: 2000;
    color: #ffffff;
    font-family: trajan-pro-3,
        serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.3rem;
    text-shadow: #000000 0rem 0rem 2px,
        #000000 0rem 0rem 4px,
        #000000 0rem 0rem 6px,
        #000000 0rem 0rem 8px;
}

.laurel-left-rulers-button {
    z-index: 1000;
    display: block;
    position: absolute;
    left: 12px;
    top: 233px;
    height: 80px;
}

.laurel-right-rulers-button {
    z-index: 1000;
    display: block;
    position: absolute;
    left: 110px;
    top: 233px;
    height: 80px;
}

.laurel-rulers-panel-top-left {
    z-index: 1000;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100px;

}

.laurel-rulers-panel-bottom-right {
    z-index: 1000;
    display: block;
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 100px;

}



#romeRulers {
    z-index: 1000;
    color: black;
    font-family: trajan-pro-3,
        serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1rem;
    padding-top: 5px;
    text-shadow: #000000 0rem 0rem 0px;
}

#emperorsShortName {
    z-index: 1000;
    color: #ffffff;
    font-family: trajan-pro-3,
        serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1rem;
    text-shadow: #000000 0rem 0rem 2px,
        #000000 0rem 0rem 4px,
        #000000 0rem 0rem 6px,
        #000000 0rem 0rem 8px;
}

#romeRulersImage {
    z-index: 1000;
    font-family: trajan-pro-3,
        serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1rem;
    text-shadow: #000000 0rem 0rem 2px,
        #000000 0rem 0rem 4px,
        #000000 0rem 0rem 6px,
        #000000 0rem 0rem 8px;
}

.romeRulersImageStyle {
    border-radius: 30px;
    max-width: 350px;
}

/* END of Rulers Panel Styling */

/* START of Intructions Styling */
#instructions {
    z-index: 1000;
    position: absolute;
    bottom: 130px;
    left: 28px;
    width: 380px;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif,
    serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1rem;
    text-shadow: #000000 0rem 0rem 1px,
        #000000 0rem 0rem 2px,
        #000000 0rem 0rem 3px,
        #000000 0rem 0rem 4px,
        #000000 0rem 0rem 5px,
        #000000 0rem 0rem 6px,
        #000000 0rem 0rem 7px,
        #000000 0rem 0rem 8px;
}

.instruction-icon {
    width: 38px;
    border-radius: 12px;
}

/* END of Intructions Styling */

/* START of Carousel Styling */
#carousel-panel-button {
    position: absolute;
    top: 350px;
    left: 42px;
    background-image: url('images/carousel_icon_off.png');
    background-color: #A91101;


    /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.548); */
    border-radius: 15px;
    /* Draw it on top of all elements */
    z-index: 1000;
    /* Cursor change on hover -- doesn't work on touch screensn */
    cursor: pointer;
}

#carousel-panel-button:hover {
    box-shadow: 0 0 12px rgb(255, 255, 255),
        0 0 13px rgb(255, 255, 255),
        0 0 14px rgb(255, 255, 255),
        0 0 25px rgb(255, 255, 0);
}

#carouselPanel {
    display: none;
    position: absolute;
    top: 200px;
    bottom: 200px;
left: 200px;
right: 200px;

    
    max-width: auto;
   
    padding-top: 25px;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 35px;
    align-content: center;
    text-align: center;
    /* Add styles to match Leaflet UI elements */
    background: #fff9dfbc;
    /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4); */
    /* border: 2px solid #A91101; */
    border-radius: 15px;
    z-index: 1000;
    color: #ffffff;
    font-family: trajan-pro-3,
        serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.3rem;
    text-shadow: #000000 0rem 0rem 2px,
        #000000 0rem 0rem 4px,
        #000000 0rem 0rem 6px,
        #000000 0rem 0rem 8px;
}

.laurel-left-carousel-button {
    z-index: 1000;
    display: block;
    position: absolute;
    left: 12px;
    top: 340px;
    height: 80px;
}

.laurel-right-carousel-button {
    z-index: 1000;
    display: block;
    position: absolute;
    left: 110px;
    top: 340px;
    height: 80px;
}

.laurel-carousel-panel-top-left {
    z-index: 1000;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100px;

}

.laurel-carousel-panel-bottom-right {
    z-index: 1000;
    display: block;
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 100px;

}

#carouselIndicators {
    z-index:1002;
}



/* END of Carousel Styling */

/* END of styling of data from CombinedExtentLayers TopoJSON */





/* START of Events Panel Styling */

#events-panel-button {
    position: absolute;
    top: 243px;
    right: 38px;
    background-image: url('images/sundial_events_icon_off.png');
    background-color: #A91101;
    background: #A91101;
    /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.548); */
    border-radius: 15px;
    /* Draw it on top of all elements */
    z-index: 1000;
    /* Cursor change on hover -- doesn't work on touch screensn */
    cursor: pointer;
}

#events-panel-button:hover {
    box-shadow: 0 0 12px rgb(255, 255, 255),
        0 0 13px rgb(255, 255, 255),
        0 0 14px rgb(255, 255, 255),
        0 0 25px rgb(255, 255, 0);
}


#events-panel {
    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
    width: fit-content;
    width: 40vw;
    height: 100vh;
    padding-top: 25px;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 35px;
    /* Add styles to match Leaflet UI elements */
    background: #fff9dfbc;
    /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4); */
    /* border: 2px solid #A91101; */
    color: #ffffff;
    font-family: trajan-pro-3,
        serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.3rem;
    text-shadow: #000000 0rem 0rem 2px,
        #000000 0rem 0rem 4px,
        #000000 0rem 0rem 6px,
        #000000 0rem 0rem 8px;
    /* border-radius: 15px; */
    z-index: 1000;
}

.laurel-left-events-button {
    z-index: 1000;
    display: block;
    position: absolute;
    right: 110px;
    top: 233px;
    height: 80px;
}

.laurel-right-events-button {
    z-index: 1000;
    display: block;
    position: absolute;
    right: 12px;
    top: 233px;
    height: 80px;
}


/* END of Info Panel Styling */

/* START of Legend Styling */

#legend-button {
    position: absolute;
    top: 140px;
    right: 38px;
background-image: url('images/map_legend_icon_off.png');
background-color: #A91101;
    /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.548); */
    border-radius: 15px;
    font-size: 30px;

    /* Draw it on top of all elements */
    z-index: 1000;
    /* Cursor change on hover -- doesn't work on touch screensn */
    cursor: pointer;
}

#legend-button:hover {
    box-shadow: 0 0 12px rgb(255, 255, 255),
        0 0 13px rgb(255, 255, 255),
        0 0 14px rgb(255, 255, 255),
        0 0 25px rgb(255, 255, 0);
}

#legend {
    display: none;
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 450px;
    height: 600px;
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12pt;
    /* Add styles to match Leaflet UI elements */
    background: #fff9dfdc;
    /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4); */
    /* border: 2px solid #A91101; */
    border-radius: 15px;
    overflow:scroll;
    z-index: 1000; 
}

#legend h1 {
    color: #ffffff;
    font-family: trajan-pro-3,
    serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5rem;
    text-shadow: #000000 0rem 0rem 2px,
    #000000 0rem 0rem 4px,
    #000000 0rem 0rem 6px,
    #000000 0rem 0rem 8px;
}

/* The laurels are broken with the current legend from the DARE website: https: //imperium.ahlfeldt.se/ */

/* .flat-laurel-legend-top {
    z-index: 1000;
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 300px;
}

.flat-laurel-legend-bottom {
    z-index: 1000;
    display: block;
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 300px;
} */

/* END of Legend Styling */



/* Footer / Info */
#info-button {
    position: absolute;
    top: 140px;
    left: 42px;
    background-image: url('images/ruler_icon_off.png');
    background-color: #A91101;
    /* font-family: trajan-pro-3, serif; */
    background: #A91101;
    color: #fff9df;
    /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.548); */
    border-radius: 15px;
    z-index: 1000;
    /* Cursor change on hover -- doesn't work on touch screensn */
    cursor: pointer;
}

#info-button:hover {
    box-shadow: 0 0 12px rgb(255, 255, 255),
        0 0 13px rgb(255, 255, 255),
        0 0 14px rgb(255, 255, 255),
        0 0 25px rgb(255, 255, 0);
}

.laurel-left-info {
    z-index: 1000;
    display: block;
    position: absolute;
    left: 12px;
    top: 130px;
    height: 80px;
}

.laurel-right-info {
    z-index: 1000;
    display: block;
    position: absolute;
    left: 110px;
    top: 130px;
    height: 80px;
}



/* This section below controls the style for the info section on the bottom */
#footer {
    position: absolute;
    display: none;
    width: 100%;
    height: 40vh;
    bottom: 0px;
    background: #fff9dfe2;
    box-shadow: 0 0 15px #00000080;
    padding: 0px;
    z-index: 1001;
    /* If too much is included, enable scroll */
    overflow: scroll;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3rem;
}

#footer div {
    padding: 10px;
}

#footer h1 {
    color: #ffffff;
    font-family: trajan-pro-3,
    serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
    text-shadow: #000000 0rem 0rem 1px,
    #000000 0rem 0rem 2px,
    #000000 0rem 0rem 3px,
    #000000 0rem 0rem 4px,
    #000000 0rem 0rem 5px,
    #000000 0rem 0rem 6px,
    #000000 0rem 0rem 7px,
    #000000 0rem 0rem 8px;
}

#footer a {
    color: #000000;
    text-decoration: 0.1px underline dotted #6e6e6e;
}

#footer a:hover {
    text-decoration: underline;
    color: #9f0000;
    filter: drop-shadow(0rem 0rem 0.4rem #000000);
}

#social a:hover {
    text-decoration: underline;
    color: #ffff00;
    filter: drop-shadow(0rem 0rem 0.4rem #000000);
}

.footer-img {
    position: absolute;
    top: 10px;
    right: 0px;
    margin-right: 25px;
    max-width: 23vw;
    max-height: 150px;
    
}

.footer75left {
    position: absolute;
    left: 0;
    margin: 25px;
    max-width: 72vw;
}

.footer25right {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 10px;
    margin-top: 160px;
    max-width: 23vw;
}

.social-font {
    font-size: 1.5rem;
    padding-left: 10px;
    padding-right: 10px
}