/* Map Roman font from Adobe
font-family: map-roman-normal,
serif;
font-weight: 400;
font-style: normal;

font-family: map-roman-compressed,
serif;
font-weight: 400;
font-style: normal;

font-family: map-roman-condensed,
serif;
font-weight: 400;
font-style: normal;

font-family: map-roman-narrow,
serif;
font-weight: 400;
font-style: normal; 

Trajan Pro 3 Regular
font-family: trajan-pro-3,
serif;
font-weight: 400;
font-style: normal;

Trajan Pro 3 Bold
font-family: trajan-pro-3,
serif;
font-weight: 700;
font-style: normal;

Trajan Pro 3 Light
font-family: trajan-pro-3,
serif;
font-weight: 300;
font-style: normal;

Trajan Pro 3 ExtraLight
font-family: trajan-pro-3,
serif;
font-weight: 200;
font-style: normal;
*/

body {
    font-family: map-roman-normal,
        serif;
    font-weight: 400;
    font-style: normal;
}

p {
    margin: auto;
}

.leaflet-container {
    font-family: map-roman-normal,
        serif;
    font-size: 0.9rem;
    line-height: 1.4rem;
    font-weight: 400;
}

.red-bold {
    font-style: bold;
    color: #A91101;
}

.indented {
    text-indent: 20pt;
    text-align: justify;
    /* Need to add @media breaks to allow non-justify for smaller screens! */
}


/* START of Styling the Leaflet Layer Control  */
.leaflet-control-layers-toggle {
    background-image: url("/images/openlayers.png");
    background-color: #A91101;
    background-size: 30px 30px;
}

.leaflet-touch .leaflet-control-layers-toggle {
    background-image: url("/images/openlayers.png");
    background-color: #A91101;
}

.leaflet-control-layers-expanded {
    color: #ffe4ce;
    background-color: #A91101;
    font-family: trajan-pro-3,
    serif;
    font-weight: 700;
    font-style: normal;
}
/* END of Styling the Leaflet Layer Control  */









/* START of Styling the Polygons! */
.land {
    fill: none;
    stroke: black;
    stroke-width: 3;
    vector-effect: non-scaling-stroke;
}









/* END of Styling the Polygons! */



blockquote {
    padding-left: 25pt;
    padding-right: 25pt;
    font-size: 1rem;
    background-color: #ffe4ce;
    text-align: justify;
    /* Need to add @media breaks to allow non-justify for smaller screens! */
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.aquila {
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 20%;
}

.blue-tooltip {
    font-family: "Grand Hotel";
    font-style: italic;
    border-radius: 20px;
    color: #0033a0;
    font-size: 2em;
    background-color: #ffffff3b;
    border: 2px solid #63666a48;
    text-shadow: #ffffff 0rem 0rem 4px;
}

.leaflet-tooltip-left.blue-tooltip::before {
    border-left-color: #63666a;
}

.leaflet-tooltip-right.blue-tooltip::before {
    border-right-color: #63666a;
}

.leaflet-legend {
    width: 200px;
    color: #ffe6a2;
}

#slider {
    width: 300px;
    padding: 8px 25px 8px 15px;
    background: rgba(25, 25, 25, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    color: whitesmoke;
}

#slider-control .min {
    float: left;
}

#slider-control .max {
    float: right;
    margin-right: -15px;
}

.year-slider {
    width: 100%;
}

#periodIndicator {
    z-index: 1000;
    position: absolute;
    bottom: 48px;
    left: 2.3%;
    padding-left: 10px;
    padding-right: 10px;
    color: #ffffff;
    font-weight: 700;
    font-size: 1.3rem;
}


#legend {
    background-color: #00000080;
    border-radius: 5%;
}

#legend button {
    display: block;
}


#info-button {
    padding: 6px 8px;
    font-family: trajan-pro-3,
    serif;
    font-weight: 700;
    font-style: normal;
    background: #A91101;
    color: #fff9df;
    text-transform: uppercase;
    /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.548); */
    border-radius: 10px;
    padding: 1;
    font-size: 1em;
    /* Position */
    position: fixed;
    top: 1%;
    right: 50%;
    /* Draw it on top of all elements */
    z-index: 9999;
    /* Cursor change on hover -- doesn't work on touch screensn */
    cursor: pointer;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: auto;
}

/* This section below controls the style for the info section on the bottom */
#footer {
    width: 100%;
    background: #fff9dfbc;
    box-shadow: 0 0 15px #00000080;
    height: 0px;
    padding: 0px;
    /* display below the button to allow clicking if overlay covers screen */
    z-index: 9000;
    position: absolute;
    /* 
Hide the footer be default. This should not contain too much information. Link to a new page for extended content.
*/
    bottom: -10px;
    /* If too much is included, enable scroll */
    overflow: scroll;
}

#footer div {
    padding: 10px;
}

#footer h1 {
    font-size: 1.7em;
    color: #202020;
    font-family: trajan-pro-3,
    serif;
    font-weight: 700;
    font-style: normal;
    margin: 0 0 0 0;
}

#footer p {
    font-size: 1.2em;
    color: #202020;
    font-family: map-roman-normal,
    serif;
    font-weight: 400;
    font-style: normal;
    padding-top: 1%;
   
}

#footer a {
    color: #000000;
    text-decoration: 0.1px underline dotted #6e6e6e;
}

#footer a:hover {
    text-decoration: underline;
    color: #9f0000;
    filter: drop-shadow(0rem 0rem 0.4rem #000000);
}

#social a:hover {
    text-decoration: underline;
    color: #ffff00;
    filter: drop-shadow(0rem 0rem 0.4rem #000000);
}

.social-font {
    font-size: 1.5rem;
    padding-left: 10px;
    padding-right: 10px
}