/* Map Roman font from Adobe
font-family: map-roman-normal,
serif;
font-weight: 400;
font-style: normal;

font-family: map-roman-compressed,
serif;
font-weight: 400;
font-style: normal;

font-family: map-roman-condensed,
serif;
font-weight: 400;
font-style: normal;

font-family: map-roman-narrow,
serif;
font-weight: 400;
font-style: normal; 

Trajan Pro 3 Regular
font-family: trajan-pro-3,
serif;
font-weight: 400;
font-style: normal;

Trajan Pro 3 Bold
font-family: trajan-pro-3,
serif;
font-weight: 700;
font-style: normal;

Trajan Pro 3 Light
font-family: trajan-pro-3,
serif;
font-weight: 300;
font-style: normal;

Trajan Pro 3 ExtraLight
font-family: trajan-pro-3,
serif;
font-weight: 200;
font-style: normal;
*/

body {
    font-family: map-roman-normal,
        serif;
    font-weight: 400;
    font-style: 10px;
    background-color: #6e6e6e;

}

p {
    margin: auto;
}

.leaflet-container {
    font-family: serif;
    font-size: 1rem;
    line-height: 1.4rem;
    font-weight: 400;
    /* border-radius: 40px; */
}

.red-bold {
    font-style: bold;
    color: #A91101;
}

.indented {
    text-indent: 20pt;
    text-align: justify;
    /* Need to add @media breaks to allow non-justify for smaller screens! */
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: auto;
}

.hide {
    display: none;
}

.show {
    display: block;
}


/* START of Styling the Leaflet Layer Control  */
.leaflet-top .leaflet-control {
    margin-top: 14px;
}

.leaflet-bottom .leaflet-control {
    margin-bottom: 5px;
}

.leaflet-left .leaflet-control {
    margin-left: 5px;
}

.leaflet-right .leaflet-control {
    margin-right: 20px;
}


.leaflet-control-layers {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
    background: #fff;
    padding: 1px;
    border-radius: 12px;
}


.leaflet-control-layers-toggle {
    background-image: url("/images/maplayers.svg");
    z-index: 1000;
    max-width: 33px;
    max-height: 33px;
    background-color: #A91101;
    padding: 5px;
    border-radius: 20px;
}

.leaflet-touch .leaflet-control-layers-toggle {
    z-index: 1000;
    background-image: url("/images/maplayers.svg");
    max-width: 33px;
    max-height: 33px;
    background-color: #A91101;
    padding: 5px;
    border-radius: 10px;
}

.leaflet-control-layers-expanded {
    color: #ffe4ce;
    z-index: 1000;
    background-color: #A91101;
    font-family: trajan-pro-3,
        serif;
    font-weight: 700;
    font-size: .8rem;
    line-height: 2rem;
    font-style: normal;
    border-radius: 10px;
    padding: 5px;
    
}

/* base map layers */
.laurel {
    z-index: 1000;
    display: block;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 70px;
    pointer-events: none;
}

/* .flat-laurel-slider {
    z-index: 1000;
    display: block;
    position: absolute;
    left: 30px;
    bottom: 10px;
    width: 300px;
} */


/* END of Styling the Leaflet Layer Control  */




/* START of Styling the Polygons! */
.land {
    fill: none;
    stroke: black;
    stroke-width: 3;
    vector-effect: non-scaling-stroke;
}









/* END of Styling the Polygons! */



blockquote {
    padding-left: 25pt;
    padding-right: 25pt;
    font-size: 1rem;
    background-color: #ffe4ce;
    /* text-align: justify; */
    /* Need to add @media breaks to allow non-justify for smaller screens! */
}

#map {
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
}

.aquila {
    z-index: 1000;
    display: block;
    position: absolute;
    top: 2px;
    left: 2px;
    width: 90px;
}


/* Leaflet popup overrides */
.leaflet-popup-tip {
    background: #0000;
    color: #0000;
  }

.leaflet-popup-content-wrapper {
    z-index: 5000;
    background: #0009;
    color: #ffe4ce;
    border-radius: 29px;
    max-width: 375px;
    max-height: 375px;
    overflow: auto;
}

.empire-extent-tooltip {
    /* font-family: "Lato"; */
    /* font-weight: bold; */
    z-index: 5000;
    color: #A91101;
    border: 1px solid #A91101;
    font-size: .8em;
    border-radius: 30px;
   
    /* background-color: rgba(0, 61, 85, 0.308); */
    /* filter: drop-shadow(0rem 0rem 0.1rem #000000); */
    /* text-shadow: rgb(0, 0, 0) 0rem 0rem 2px; */
  }

/* .laurel-left-legend-button {
    z-index: 1000;
    display: block;
    position: absolute;
    right: 110px;
    top: 130px;
    height: 80px;
}

.laurel-right-legend-button {
    z-index: 1000;
    display: block;
    position: absolute;
    right: 12px;
    top: 130px;
    height: 80px;
} */





/* I'm calling this class "darkshadow" to avoid conflict with Bootstrap shadow class */
.darkshadow {
    -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .7));
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .7));
    /* Similar syntax to box-shadow */
}

/* START of styling of data from CombinedExtentLayers TopoJSON */



#page-title {
    text-align: center;
    z-index: 2;
    position: absolute;
    bottom: 45px;
    margin-left: 20px;
    transform: translate(-50% + 20px);
    
}




#yearIndicator {
    z-index: 2;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
    font-family: trajan-pro-3,
        serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.1rem;
    text-shadow: #000000 0rem 0rem 1px,
        #000000 0rem 0rem 2px,
        #000000 0rem 0rem 3px,
        #000000 0rem 0rem 4px,
        #000000 0rem 0rem 5px,
        #000000 0rem 0rem 6px,
        #000000 0rem 0rem 7px,
        #000000 0rem 0rem 8px;
}


#titleHeader {
    z-index: 2;
    color: #ffffff;
    font-family: trajan-pro-3,
        serif;
    font-weight: 700;
    font-style: normal;
    font-size: .7rem;
    text-shadow: #000000 0rem 0rem 1px,
        #000000 0rem 0rem 2px,
        #000000 0rem 0rem 3px,
        #000000 0rem 0rem 4px,
        #000000 0rem 0rem 5px,
        #000000 0rem 0rem 6px,
        #000000 0rem 0rem 7px,
        #000000 0rem 0rem 8px;
}

#eventOne {
    z-index: 4;
    color: black;
    font-family: trajan-pro-3,
        serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1rem;
    padding-top: 5px;
    text-shadow: #000000 0rem 0rem 0px;
}

#eventTwo {
    z-index: 4;
    color: black;
    font-family: trajan-pro-3,
        serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1rem;
    padding-top: 20px;
    text-shadow: #000000 0rem 0rem 0px;
}

/* END of styling of data from CombinedExtentLayers TopoJSON */



/* START of Intructions Styling */
#instructions {
    z-index: 1000;
    position: absolute;
    bottom: 130px;
    left: 28px;
    width: 380px;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif,
    serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1rem;
    text-shadow: #000000 0rem 0rem 1px,
        #000000 0rem 0rem 2px,
        #000000 0rem 0rem 3px,
        #000000 0rem 0rem 4px,
        #000000 0rem 0rem 5px,
        #000000 0rem 0rem 6px,
        #000000 0rem 0rem 7px,
        #000000 0rem 0rem 8px;
}

.instruction-icon {
    width: 38px;
    border-radius: 12px;
}

/* END of Intructions Styling */


/* END of styling of data from CombinedExtentLayers TopoJSON */




/* START of Legend Styling */

#legend {
    display: none;
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 450px;
    height: 600px;
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10pt;
    /* Add styles to match Leaflet UI elements */
    background: #fff9dfdc;
    /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4); */
    /* border: 2px solid #A91101; */
    border-radius: 15px;
    overflow:scroll;
    z-index: 1000; 
}

#legend h1 {
    color: #ffffff;
    font-family: trajan-pro-3,
    serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5rem;
    text-shadow: #000000 0rem 0rem 2px,
    #000000 0rem 0rem 4px,
    #000000 0rem 0rem 6px,
    #000000 0rem 0rem 8px;
}

/* The laurels are broken with the current legend from the DARE website: https: //imperium.ahlfeldt.se/ */

/* .flat-laurel-legend-top {
    z-index: 1000;
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 300px;
}

.flat-laurel-legend-bottom {
    z-index: 1000;
    display: block;
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 300px;
} */

/* END of Legend Styling */

/* START of Rulers Panel Styling */

#rulers-panel-button {
    position: absolute;
    top: 140px;
    left: 20px;
    /* background-image: url('images/ruler_icon_off.svg'); */
    /* Don't need background-image because the effect is done in JS */
    background-color: #A91101;
    width: 40px;
    height: 40px;


    /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.548); */
    border-radius: 10px;
    /* Draw it on top of all elements */
    z-index: 1000;
    /* Cursor change on hover -- doesn't work on touch screensn */
    cursor: pointer;
}

#rulers-panel-button:hover {
    box-shadow: 0 0 12px rgb(255, 255, 255),
        0 0 13px rgb(255, 255, 255),
        0 0 14px rgb(255, 255, 255),
        0 0 25px rgb(255, 255, 0);
}

#rulersPanel {
    display: none;
    position: absolute;
    top: 30%;
    right: 0px;
    width: 300px;
    height: 300px;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    align-content: center;
    text-align: center;
    /* Add styles to match Leaflet UI elements */
    background: #fff9df88;
    /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4); */
    /* border: 2px solid #A91101; */
    /* border-radius: 15px; */
    z-index: 2000;
    color: #ffffff;
    font-family: trajan-pro-3,
        serif;
    font-weight: 700;
    font-style: normal;
    font-size: .8rem;
    text-shadow: #000000 0rem 0rem 2px,
        #000000 0rem 0rem 4px,
        #000000 0rem 0rem 6px,
        #000000 0rem 0rem 8px;
}

.laurel-left-rulers-button {
    z-index: 1000;
    display: block;
    position: absolute;
    left: 3px;
    top: 135px;
    height: 50px;
}

.laurel-right-rulers-button {
    z-index: 1000;
    display: block;
    position: absolute;
    left: 60px;
    top: 135px;
    height: 50px;
}

.laurel-rulers-panel-top-left {
    z-index: 1000;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100px;

}

.laurel-rulers-panel-bottom-right {
    z-index: 1000;
    display: block;
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 100px;

}



#romeRulers {
    z-index: 1000;
    color: black;
    font-family: trajan-pro-3,
        serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1rem;
    padding-top: 5px;
    text-shadow: #000000 0rem 0rem 0px;
}

#emperorsShortName {
    z-index: 1000;
    color: #ffffff;
    font-family: trajan-pro-3,
        serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1rem;
    text-shadow: #000000 0rem 0rem 2px,
        #000000 0rem 0rem 4px,
        #000000 0rem 0rem 6px,
        #000000 0rem 0rem 8px;
}

#romeRulersImage {
    z-index: 4;
    font-family: trajan-pro-3,
        serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1rem;
    text-shadow: #000000 0rem 0rem 2px,
        #000000 0rem 0rem 4px,
        #000000 0rem 0rem 6px,
        #000000 0rem 0rem 8px;
}

.romeRulersImageStyle {
    z-index: 4;
    border-radius: 30px;
    max-width: 350px;
}

/* END of Rulers Panel Styling */

/* Footer / Info */
#info-button {
    position: absolute;
    top: 75px;
    left: 20px;
    width: 40px;
    height: 40px;
    background: #A91101;
    border-radius: 10px;
    z-index: 1000;
    /* Cursor change on hover -- doesn't work on touch screensn */
    cursor: pointer;
}

#info-button:hover {
    box-shadow: 0 0 12px rgb(255, 255, 255),
        0 0 13px rgb(255, 255, 255),
        0 0 14px rgb(255, 255, 255),
        0 0 25px rgb(255, 255, 0);
}

.laurel-left-info {
    z-index: 1000;
    display: block;
    position: absolute;
    left: 3px;
    top: 70px;
    height: 50px;
}

.laurel-right-info {
    z-index: 1000;
    display: block;
    position: absolute;
    left: 60px;
    top: 70px;
    height: 50px;
}



/* This section below controls the style for the info section on the bottom */
#footer {
    position: absolute;
    display: none;
    width: 100%;
    height: 70vh;
    bottom: 0px;
    background: #fff9dfe2;
    box-shadow: 0 0 15px #00000080;
    padding: 0px;
    z-index: 1001;
    /* If too much is included, enable scroll */
    overflow: scroll;
    font-family: 'Times New Roman', Times, serif;
    font-size: .9rem;
}

#footer div {
    padding: 10px;
}

#footer h1 {
    color: #ffffff;
    font-family: trajan-pro-3,
    serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.2rem;
    text-shadow: #000000 0rem 0rem 1px,
    #000000 0rem 0rem 2px,
    #000000 0rem 0rem 3px,
    #000000 0rem 0rem 4px,
    #000000 0rem 0rem 5px,
    #000000 0rem 0rem 6px,
    #000000 0rem 0rem 7px,
    #000000 0rem 0rem 8px;
}

#footer a {
    color: #000000;
    text-decoration: 0.1px underline dotted #6e6e6e;
}

#footer a:hover {
    text-decoration: underline;
    color: #9f0000;
    filter: drop-shadow(0rem 0rem 0.4rem #000000);
}

#social a:hover {
    text-decoration: underline;
    color: #ffff00;
    filter: drop-shadow(0rem 0rem 0.4rem #000000);
}

.footer-img {
    position: absolute;
    top: 10px;
    right: 0px;
    margin-right: 25px;
    max-width: 23vw;
    max-height: 150px;
    
}

.footer75left {
    position: absolute;
    left: 0;
    margin: 25px;
    max-width: 72vw;
}

.footer25right {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 10px;
    margin-top: 160px;
    max-width: 23vw;
}

.social-font {
    font-size: 1.5rem;
    padding-left: 10px;
    padding-right: 10px
}

/* ****************************************************************************************** */
/* ****************************************************************************************** */
/* ****************************************************************************************** */

/* Begin Desktop styling here */
@media only screen and (min-width: 768px) {

    body {
        font-family: map-roman-normal,
            serif;
        font-weight: 400;
        font-style: normal;
        background-color: #6e6e6e;
    }
}