/* Map Roman font from Adobe
font-family: map-roman-normal,
serif;
font-weight: 400;
font-style: normal;

font-family: map-roman-compressed,
serif;
font-weight: 400;
font-style: normal;

font-family: map-roman-condensed,
serif;
font-weight: 400;
font-style: normal;

font-family: map-roman-narrow,
serif;
font-weight: 400;
font-style: normal; 

Trajan Pro 3 Regular
font-family: trajan-pro-3,
serif;
font-weight: 400;
font-style: normal;

Trajan Pro 3 Bold
font-family: trajan-pro-3,
serif;
font-weight: 700;
font-style: normal;

Trajan Pro 3 Light
font-family: trajan-pro-3,
serif;
font-weight: 300;
font-style: normal;

Trajan Pro 3 ExtraLight
font-family: trajan-pro-3,
serif;
font-weight: 200;
font-style: normal;
*/

body {
    font-family: map-roman-normal,
        serif;
    font-weight: 400;
    font-style: normal;
    background-color: #6e6e6e;
}

p {
    margin: auto;
}

.leaflet-container {
    font-family: map-roman-normal,
        serif;
    font-size: 0.9rem;
    line-height: 1.4rem;
    font-weight: 400;
}

.red-bold {
    font-style: bold;
    color: #A91101;
}

.indented {
    text-indent: 20pt;
    text-align: justify;
    /* Need to add @media breaks to allow non-justify for smaller screens! */
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: auto;
}

.hide {
    display: none;
}

.show {
    display: block;
}


/* START of Styling the Leaflet Layer Control  */
.leaflet-top .leaflet-control {
    margin-top: 39px;
}

.leaflet-bottom .leaflet-control {
    margin-bottom: 10px;
}

.leaflet-left .leaflet-control {
    margin-left: 10px;
}

.leaflet-right .leaflet-control {
    margin-right: 47px;
}


.leaflet-control-layers {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
    background: #fff;
    padding: 1px;
    border-radius: 12px;
}


.leaflet-control-layers-toggle {
    background-image: url("/images/maplayers.png");
    background-color: #A91101;
    padding: 5px;
    border-radius: 10px;
}

.leaflet-touch .leaflet-control-layers-toggle {
    background-image: url("/images/maplayers.png");
    background-color: #A91101;
    padding: 5px;
    border-radius: 10px;
}

.leaflet-control-layers-expanded {
    color: #ffe4ce;
    background-color: #A91101;
    font-family: trajan-pro-3,
        serif;
    font-weight: 700;
    font-style: normal;
    border-radius: 10px;
    padding: 5px;
}


/* END of Styling the Leaflet Layer Control  */









/* START of Styling the Polygons! */
.land {
    fill: none;
    stroke: black;
    stroke-width: 3;
    vector-effect: non-scaling-stroke;
}









/* END of Styling the Polygons! */



blockquote {
    padding-left: 25pt;
    padding-right: 25pt;
    font-size: 1rem;
    background-color: #ffe4ce;
    text-align: justify;
    /* Need to add @media breaks to allow non-justify for smaller screens! */
}

#map {
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.aquila {
    z-index: 1000;
    display: block;
    position: absolute;
    top: 10px;
    left: 5px;
    width: 143px;
}

/* base map layers */
.laurel {
    z-index: 1000;
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 105px;
}

.flat-laurel-slider {
    z-index: 1000;
    display: block;
    position: absolute;
    left: 30px;
    bottom: 10px;
    width: 300px;
}



.laurel-left-legend-button {
    z-index: 1000;
    display: block;
    position: absolute;
    right: 110px;
    top: 130px;
    height: 80px;
}

.laurel-right-legend-button {
    z-index: 1000;
    display: block;
    position: absolute;
    right: 12px;
    top: 130px;
    height: 80px;
}





.blue-tooltip {
    font-family: "Grand Hotel";
    font-style: italic;
    border-radius: 20px;
    color: #0033a0;
    font-size: 2em;
    background-color: #ffffff3b;
    border: 2px solid #63666a48;
    text-shadow: #ffffff 0rem 0rem 4px;
}

.leaflet-tooltip-left.blue-tooltip::before {
    border-left-color: #63666a;
}

.leaflet-tooltip-right.blue-tooltip::before {
    border-right-color: #63666a;
}

/* I'm calling this class "darkshadow" to avoid conflict with Bootstrap shadow class */
.darkshadow {
    -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .7));
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .7));
    /* Similar syntax to box-shadow */
}

/* START of styling of data from CombinedExtentLayers TopoJSON */

#yearIndicator {
    z-index: 1000;
    position: absolute;
    top: 10px;
    left: 200px;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
    font-family: trajan-pro-3,
        serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
    text-shadow: #000000 0rem 0rem 1px,
        #000000 0rem 0rem 2px,
        #000000 0rem 0rem 3px,
        #000000 0rem 0rem 4px,
        #000000 0rem 0rem 5px,
        #000000 0rem 0rem 6px,
        #000000 0rem 0rem 7px,
        #000000 0rem 0rem 8px;
}


#titleHeader {
    z-index: 1000;
    position: absolute;
    top: 60px;
    left: 200px;
    color: #ffffff;
    font-family: trajan-pro-3,
        serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1rem;
    text-shadow: #000000 0rem 0rem 1px,
        #000000 0rem 0rem 2px,
        #000000 0rem 0rem 3px,
        #000000 0rem 0rem 4px,
        #000000 0rem 0rem 5px,
        #000000 0rem 0rem 6px,
        #000000 0rem 0rem 7px,
        #000000 0rem 0rem 8px;
}

#eventOne {
    z-index: 1000;
    color: black;
    font-family: trajan-pro-3,
        serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1rem;
    padding-top: 5px;
    text-shadow: #000000 0rem 0rem 0px;
}

#eventTwo {
    z-index: 1000;
    color: black;
    font-family: trajan-pro-3,
        serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1rem;
    padding-top: 20px;
    text-shadow: #000000 0rem 0rem 0px;
}

/* END of styling of data from CombinedExtentLayers TopoJSON */

/* START of Rulers Panel Styling */

#rulers-panel-button {
    position: absolute;
    top: 243px;
    left: 42px;
    background-image: url('images/ruler_icon_off.png');
    background-color: #A91101;


    /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.548); */
    border-radius: 15px;
    /* Draw it on top of all elements */
    z-index: 1000;
    /* Cursor change on hover -- doesn't work on touch screensn */
    cursor: pointer;
}

#rulers-panel-button:hover {
    box-shadow: 0 0 12px rgb(255, 255, 255),
        0 0 13px rgb(255, 255, 255),
        0 0 14px rgb(255, 255, 255),
        0 0 25px rgb(255, 255, 0);
}

#rulersPanel {
    display: none;
    position: absolute;
    top: 350px;
    left: 10px;
    width: fit-content;
    max-width: 400px;
    height: fit-content;
    padding-top: 25px;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 35px;
    align-content: center;
    text-align: center;
    /* Add styles to match Leaflet UI elements */
    background: #fff9dfbc;
    /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4); */
    /* border: 2px solid #A91101; */
    border-radius: 15px;
    z-index: 1000;
    color: #ffffff;
    font-family: trajan-pro-3,
        serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.3rem;
    text-shadow: #000000 0rem 0rem 2px,
        #000000 0rem 0rem 4px,
        #000000 0rem 0rem 6px,
        #000000 0rem 0rem 8px;
}

.laurel-left-rulers-button {
    z-index: 1000;
    display: block;
    position: absolute;
    left: 12px;
    top: 233px;
    height: 80px;
}

.laurel-right-rulers-button {
    z-index: 1000;
    display: block;
    position: absolute;
    left: 110px;
    top: 233px;
    height: 80px;
}

.laurel-rulers-panel-top-left {
    z-index: 1000;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100px;

}

.laurel-rulers-panel-bottom-right {
    z-index: 1000;
    display: block;
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 100px;

}



#romeRulers {
    z-index: 1000;
    color: black;
    font-family: trajan-pro-3,
        serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1rem;
    padding-top: 5px;
    text-shadow: #000000 0rem 0rem 0px;
}

#emperorsShortName {
    z-index: 1000;
    color: #ffffff;
    font-family: trajan-pro-3,
        serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1rem;
    text-shadow: #000000 0rem 0rem 2px,
        #000000 0rem 0rem 4px,
        #000000 0rem 0rem 6px,
        #000000 0rem 0rem 8px;
}

#romeRulersImage {
    z-index: 1000;
    font-family: trajan-pro-3,
        serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1rem;
    text-shadow: #000000 0rem 0rem 2px,
        #000000 0rem 0rem 4px,
        #000000 0rem 0rem 6px,
        #000000 0rem 0rem 8px;
}

.romeRulersImageStyle {
    border-radius: 30px;
    max-width: 350px;
}

/* END of Rulers Panel Styling */

/* START of Carousel Styling */
#carousel-panel-button {
    position: absolute;
    top: 350px;
    left: 42px;
    background-image: url('images/carousel_icon_off.png');
    background-color: #A91101;


    /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.548); */
    border-radius: 15px;
    /* Draw it on top of all elements */
    z-index: 1000;
    /* Cursor change on hover -- doesn't work on touch screensn */
    cursor: pointer;
}

#carousel-panel-button:hover {
    box-shadow: 0 0 12px rgb(255, 255, 255),
        0 0 13px rgb(255, 255, 255),
        0 0 14px rgb(255, 255, 255),
        0 0 25px rgb(255, 255, 0);
}

#carouselPanel {
    display: none;
    position: absolute;
    top: 200px;
    bottom: 200px;
left: 200px;
right: 200px;

    
    max-width: auto;
   
    padding-top: 25px;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 35px;
    align-content: center;
    text-align: center;
    /* Add styles to match Leaflet UI elements */
    background: #fff9dfbc;
    /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4); */
    /* border: 2px solid #A91101; */
    border-radius: 15px;
    z-index: 1000;
    color: #ffffff;
    font-family: trajan-pro-3,
        serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.3rem;
    text-shadow: #000000 0rem 0rem 2px,
        #000000 0rem 0rem 4px,
        #000000 0rem 0rem 6px,
        #000000 0rem 0rem 8px;
}

.laurel-left-carousel-button {
    z-index: 1000;
    display: block;
    position: absolute;
    left: 12px;
    top: 340px;
    height: 80px;
}

.laurel-right-carousel-button {
    z-index: 1000;
    display: block;
    position: absolute;
    left: 110px;
    top: 340px;
    height: 80px;
}

.laurel-carousel-panel-top-left {
    z-index: 1000;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100px;

}

.laurel-carousel-panel-bottom-right {
    z-index: 1000;
    display: block;
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 100px;

}

/* END of Carousel Styling */

/* END of styling of data from CombinedExtentLayers TopoJSON */


/* START of Slider Styling */

#yearSlider {
    z-index: 1000;
    position: absolute;
    bottom: 80px;
    left: 17px;
    width: 300px;
    padding: 46 25px 25px 25px;
    background: 0000;
    border-radius: 5px;
    color: whitesmoke;
}

#yearSlider:hover {
    box-shadow: 0 0 15px rgb(255, 255, 255);
}

#longName {
    z-index: 1000;
    position: absolute;
    bottom: 45px;
    left: 28px;
    color: #ffffff;
    font-family: trajan-pro-3,
        serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5rem;
    text-shadow: #000000 0rem 0rem 1px,
        #000000 0rem 0rem 2px,
        #000000 0rem 0rem 3px,
        #000000 0rem 0rem 4px,
        #000000 0rem 0rem 5px,
        #000000 0rem 0rem 6px,
        #000000 0rem 0rem 7px,
        #000000 0rem 0rem 8px;
}


.form-range:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.25rem #fff9dfa0;
}

.form-range:focus::-moz-range-thumb {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.25rem #fff9dfa0;
}

.form-range::-webkit-slider-thumb {
    width: 2rem;
    height: 2rem;

    background-color: #A91101;

}


.form-range::-moz-range-thumb {
    width: 1.2rem;
    height: 1.8rem;
    background-color: #A91101;
}

.form-range::-moz-range-thumb:active {
    background-color: #ff1900;
}

.form-range::-moz-range-track {

    height: 1rem;

    background-color: #3a4046;

}


/* END of Slider Styling */

/* START of Events Panel Styling */

#events-panel-button {
    position: absolute;
    top: 243px;
    right: 38px;
    background-image: url('images/sundial_events_icon_off.png');
    background-color: #A91101;
    background: #A91101;
    /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.548); */
    border-radius: 15px;
    /* Draw it on top of all elements */
    z-index: 1000;
    /* Cursor change on hover -- doesn't work on touch screensn */
    cursor: pointer;
}

#events-panel-button:hover {
    box-shadow: 0 0 12px rgb(255, 255, 255),
        0 0 13px rgb(255, 255, 255),
        0 0 14px rgb(255, 255, 255),
        0 0 25px rgb(255, 255, 0);
}


#events-panel {
    display: none;
    position: absolute;
    top: 345px;
    right: 10px;
    width: fit-content;
    max-width: 400px;
    height: fit-content;
    padding-top: 25px;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 35px;
    /* Add styles to match Leaflet UI elements */
    background: #fff9dfbc;
    /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4); */
    /* border: 2px solid #A91101; */
    color: #ffffff;
    font-family: trajan-pro-3,
        serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.3rem;
    text-shadow: #000000 0rem 0rem 2px,
        #000000 0rem 0rem 4px,
        #000000 0rem 0rem 6px,
        #000000 0rem 0rem 8px;
    border-radius: 15px;
    z-index: 1000;
}

.laurel-left-events-button {
    z-index: 1000;
    display: block;
    position: absolute;
    right: 110px;
    top: 233px;
    height: 80px;
}

.laurel-right-events-button {
    z-index: 1000;
    display: block;
    position: absolute;
    right: 12px;
    top: 233px;
    height: 80px;
}


/* END of Info Panel Styling */

/* START of Legend Styling */

#legend-button {
    position: absolute;
    top: 140px;
    right: 38px;
background-image: url('images/map_legend_icon_off.png');
background-color: #A91101;
    /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.548); */
    border-radius: 15px;
    font-size: 30px;

    /* Draw it on top of all elements */
    z-index: 1000;
    /* Cursor change on hover -- doesn't work on touch screensn */
    cursor: pointer;
}

#legend-button:hover {
    box-shadow: 0 0 12px rgb(255, 255, 255),
        0 0 13px rgb(255, 255, 255),
        0 0 14px rgb(255, 255, 255),
        0 0 25px rgb(255, 255, 0);
}

#legend {
    display: none;
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 300px;
    height: 400px;
    padding-top: 35px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 35px;
    /* Add styles to match Leaflet UI elements */
    background: #fff9dfbc;
    /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4); */
    /* border: 2px solid #A91101; */
    border-radius: 15px;
    z-index: 1000;
}

.flat-laurel-legend-top {
    z-index: 1000;
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 300px;
}

.flat-laurel-legend-bottom {
    z-index: 1000;
    display: block;
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 300px;
}

/* END of Legend Styling */



/* Footer / Info */
#info-button {
    position: absolute;
    top: 140px;
    left: 42px;
    background-image: url('images/ruler_icon_off.png');
    background-color: #A91101;
    /* font-family: trajan-pro-3, serif; */
    background: #A91101;
    color: #fff9df;
    /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.548); */
    border-radius: 15px;
    z-index: 1000;
    /* Cursor change on hover -- doesn't work on touch screensn */
    cursor: pointer;
}

#info-button:hover {
    box-shadow: 0 0 12px rgb(255, 255, 255),
        0 0 13px rgb(255, 255, 255),
        0 0 14px rgb(255, 255, 255),
        0 0 25px rgb(255, 255, 0);
}

.laurel-left-info {
    z-index: 1000;
    display: block;
    position: absolute;
    left: 12px;
    top: 130px;
    height: 80px;
}

.laurel-right-info {
    z-index: 1000;
    display: block;
    position: absolute;
    left: 110px;
    top: 130px;
    height: 80px;
}



/* This section below controls the style for the info section on the bottom */
#footer {
    width: 100%;
    background: #fff9dfbc;
    box-shadow: 0 0 15px #00000080;
    height: 0px;
    padding: 0px;
    /* display below the button to allow clicking if overlay covers screen */
    z-index: 1001;
    position: absolute;
    bottom: -10px;
    /* If too much is included, enable scroll */
    overflow: scroll;
}

#footer div {
    padding: 10px;
}

#footer h1 {
    font-size: 1.7em;
    color: #202020;
    font-family: trajan-pro-3,
        serif;
    font-weight: 700;
    font-style: normal;
    margin: 0 0 0 0;
}

#footer p {
    font-size: 1.2em;
    color: #202020;
    font-family: map-roman-normal,
        serif;
    font-weight: 400;
    font-style: normal;
    padding-top: 1%;

}

#footer a {
    color: #000000;
    text-decoration: 0.1px underline dotted #6e6e6e;
}

#footer a:hover {
    text-decoration: underline;
    color: #9f0000;
    filter: drop-shadow(0rem 0rem 0.4rem #000000);
}

#social a:hover {
    text-decoration: underline;
    color: #ffff00;
    filter: drop-shadow(0rem 0rem 0.4rem #000000);
}

.footer-img {
    float: right;
    height: 10vh;
    margin-left: 5%;
    filter: drop-shadow(0px 0px 4px rgb(255, 255, 255));
}

.social-font {
    font-size: 1.5rem;
    padding-left: 10px;
    padding-right: 10px
}